{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h1>HELLO WORLD,</h1>
            <h2>List of Cocktails:</h2>
            <article>
                <p>this is just for test, here will be the cocktails lists</p>
            </article>
        </div>
    </section>
{% endblock %}
